# Raccolta dati
requests

# Recommender content-based classico
scikit-learn
pandas
numpy

# Recommender content-based con CLIP (Hugging Face transformers)
torch
transformers
ftfy

# Utility
tqdm
Pillow
